# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
*.pem

# Workspaces
.nx/cache
.nx/workspace-data

# non-bun package locks
/package-lock.json
/yarn.lock
/pnpm-lock.yaml

# local env files
# do not commit any .env files to git, except for the .env.example file. https://create.t3.gg/en/usage/env-variables#using-environment-variables
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# idea files
.idea

# vite
**/.vitepress/cache
**/.vitepress/dist

# slua
keywords.json
codegen/out/**
!.gitkeep
